.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.home-logo {
  align-self: center;
  background-image: radial-gradient(rgba(0, 0, 0, 0.52), #242424), url('../../assets/imgs/darkIcon.png');
  background-size: cover;
  width: 320px;
  height: 300px;
  margin-bottom: 22px;
  cursor: pointer;
}
