.several-top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.position-number {
  margin: unset;
  color: var(--primary);
  font-weight: 600;
}

.name {
  margin: unset;
}

.artist-name {
  margin-left: 4px; 
  opacity: 0.5;
}

.image {
  object-fit: cover;
  width: 45px;
  height: 45px;
}