.playlist {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.playlist-image {
  display: flex;
  justify-content: center;
}

.playlist-image {
  max-height: calc(25vh);
}

.playlist-title {
  margin: 0
}

.playlist-description {
  margin-bottom: 18px;
}

.playlist-tracks {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-block: 18px;
}