.playlist {
  display: flex;
  justify-content: center;
}

.playlist-image {
  max-width: 320px;
  margin-bottom: 8px;
}

.playlist-title {
  margin: 0
}

.playlist-description {
  margin-bottom: 18px;
}

.playlist-tracks {
  margin-block: 18px;
}