.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}